{# templates/dashboard/admin_dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Welcome, Admin!</h1>
    <p>This is your admin dashboard.</p>
    {# templates/admin/dashboard/index.html.twig #}
<a href="{{ path('app_category_index') }}" class="btn btn-primary">
    Manage Categories
</a>
 <a href="{{ path('app_product_index') }}" class="btn btn-success">
    <i class="fas fa-boxes me-2"></i> Manage Products
</a>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
